
.form {
    background-color: aqua;
    width: 300px;
    height: 225px;
    padding: 40px;
    align-items: center;
    border-radius: 2%;
    text-align: center; 
    margin: auto;
}
.divh2 {
    align-items: center;
    text-align: center; 
    margin: auto;
}
h2 {
    color: red;
    
}
